.inicio{
    margin: 40px;
    padding: 20px;
    background-image: url(../Img/assas.jpg);
    background-color: #1953c9;
}

.contenedorinicio{
    margin: 40px;
    padding: 20px;
    background-color: rgba(189, 91, 91, 0.8);
}

h2{
    text-align: center;
}

.inicio1{
    padding: 40px;
    width: 500px;
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: right;
    text-align: left;
}

.herramienta{
    height: 300px;
    width: 700px;
    margin: auto;
}

.inicio2 {
    padding: 40px;
    width: 500px;
    text-align: left;

}

.fotocuadrada {
    height: 300px;
    width: 300px;
    margin: auto;
}

.inicio3 {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: auto;
    text-align: justify;
    
}




